body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    margin: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1;
}

.container {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    width: 600px;
    height: 600px;
    margin: 8px;
}

.squarediv {
    background-color: white;
    outline: 1px solid black;
}

.painted.squarediv {
    background-color: black;
}

.header-background,
.footer-background {
    background-color: lightyellow;
    display: flex;
    justify-content: center;
    align-tracks: center;
    padding: 8px;
}

.header-background {
    font-size: 32px;
}

.footer-background {
    font-size: 18px;
}

.background {
    display: flex;
    justify-content: center;
    align-tracks: center;
}

.panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
    width: 600px;
}

.full-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
}

.hidden {
    display: none;
}